.multitv { position: relative }

.multitv .heading { padding-left: 20px }

.multitv .copy { position: absolute; left: -20px; bottom: 7px; background: url('images/add.png') no-repeat left center; display: block; width: 16px; height: 16px; text-indent: -2000px }
.multitv .list { margin: 0; padding: 0; clear: left; position: relative }
.multitv .list li.element { position: relative; padding: 4px 4px 4px 20px; margin-bottom: 4px; border: 1px solid #e3e3e3; background: url('images/arrow_updown.png') no-repeat left center; list-style: none }
.multitv .list li.element { min-width: 450px; max-width: 510px }
.multitv .list li.element.hasthumb { }

.multitv .list li.element.inline { display: list-item }
.multitv .list li.element.inline a { display: block; float: left; padding: 3px; margin: 0 5px 0 0 }

.multitv .list li.element label { display: inline-block; width: 100px }
.multitv .list li.element select.inline { margin-right: 9px }
.multitv .list li.element a.remove { position: absolute; top: 7px; right: 10px; background: url('images/delete.png') no-repeat left center; display: block; width: 16px; height: 16px; text-indent: -2000px; float: none; margin: 0; padding: 0 }
.multitv .list li.element table.url { width: 300px; display: inline-block }
.multitv .list li.element table.url input[type="text"] { width: 221px !important }


.multitv .list li.element .inline, .multitv .heading .inline { display: block; float: left; width: 100px; padding: 3px; margin: 0 5px 0 0 }
.multitv .list li.element .inline[type="checkbox"] { margin-top: 7px }
.multitv .list li.element .inlinelabel { width: auto }

.multitv .list li.element .DatePicker { padding: 3px 3px 3px 24px }

.multitv .list li.element .tvimage { float: right; margin-right: 2px; width: 96px }
.multitv .list li.element .thumb { border: 1px solid #ccc !important }
