<!DOCTYPE html>
<html>
<head>
    <title>[+options.modulename+]</title>
    <link rel="stylesheet" type="text/css" href="media/style/[+options.managerTheme+]/style.css"/>
    <link rel="stylesheet" type="text/css" href="../[+options.tvUrl+]css/multitv.css"/>
    <script type="text/javascript" src="../[+options.tvUrl+]js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../[+options.tvUrl+]js/jquery-cookie-1.4.0.js"></script>
    <script type="text/javascript" src="../[+options.tvUrl+]js/jquery-easytabs-3.2.0b.min.js"></script>
    <script type="text/javascript" src="../[+options.tvUrl+]js/jquery-fileDownload-1.4.2.js"></script>
    <script type="text/javascript">
        var moduleId = '[+options.moduleId+]';
        var moduleLanguage = {
            confirm_delete_extra: '[+lang.confirm_delete_extra+]'
        };
        var $j = $.noConflict();
    </script>
</head>
<body>
<h1>[+options.modulename+]</h1>

<div id="actions">
    <ul class="actionButtons">
        <li id="Button1"><a href="index.php?a=112&amp;id=[+options.moduleId+]">
            <img src="media/style/[+options.managerTheme+]/images/icons/refresh.png" alt="Neu laden"/>
            [+lang.reload+]
        </a></li>
        <li id="Button2"><a href="index.php?a=106">
            <img src="media/style/[+options.managerTheme+]/images/icons/stop.png" alt="[+lang.close+] [+options.modulename+]"/>
            [+lang.close+] [+options.modulename+]
        </a></li>
    </ul>
</div>
<div class="sectionBody">
    <div class="dynamic-tab-pane-control tab-pane" id="multiTvPanes">
        <div class='tab-row'>
            [+moduleTabheads+]
            [+disabled:outer=`<h2 id="tabs-multitvconfig" class='tab'><a href="#tabpanel-multitvconfig"><span>[+lang.config+]</span></a>
        </h2>`+]
        </div>
        <div class="tab-page panel-container">
            [+moduleTabs+]
            [+disabled
            <div id="tabpanel-multitvconfig">
                <h2>[+lang.config+]</h2>
                [+lang.config_intro+]
                [+multiTvConfig+]
            </div>
            `+]
        </div>
    </div>
</div>
<script type="text/javascript" src="../[+options.tvUrl+]js/multitvmodule.js"></script>
</body>
</html>