.multitv {
    position: relative
}

.multitv .heading {
    clear: left;
    padding-left: 20px;
}

.multitv .heading span {
    border: 1px solid transparent;
    box-sizing: border-box
}

.multitv .list {
    clear: left;
    margin: 0;
    padding: 0;
    position: relative
}

.multitv .list li.element {
    background: #fff;
    border: 1px solid #e3e3e3;
    list-style: none;
    margin-bottom: 4px;
    padding: 4px 20px 4px 20px;
    position: relative;
}

.multitv .list li.element {
    min-width: 600px
}

.multitv .list li.element > div:before {
    color: #449d44;
    content: "\f07d";
    font-family: FontAwesome;
    left: 8px;
    position: absolute;
    top: 40%;
    z-index: 100;
}

.multitv .list li.element.inline > div:before {
    top: 20%;
}

.multitv .list li.element.hasthumb {
}

.multitv .list li.element.inline {
    display: list-item
}

.multitv .list li.element.inline a {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 3px;
}

.multitv .list li.element.single {
    background: none;
    list-style: none;
    padding: 10px;
}

.multitv .list li.element label {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.multitv .list li.element select.inline {
    margin-right: 9px
}

.multitv .list li.element input[type="text"], .multitv .list li.element input[type="password"], .multitv .list li.element input[type="number"], .multitv .list li.element textarea {
    background-color: #FBFBFB !important;
    border-color: #dbdbdb !important;
    margin: 0 3px 5px 0;
}

.multitv .list li.element .mtv_listbox, .multitv .list li.element .mtv_checkbox,
.multitv .list li.element .mtv_dropdown,
.multitv .list li.element .mtv_listbox-multiple {
    background-color: #FBFBFB !important;
    border-color: #dbdbdb !important;
    margin: 0 3px 5px 0;
}

.multitv .list li.element a.copy, .multitv .list li.element a.remove {
    color: #449d44;
    display: block;
    height: 16px;
    padding: 0;
    position: absolute;
    right: 22px;
    top: 7px;
    width: 16px;

}

.multitv .list li.element a.remove {
    color: #c9302c;
    right: 4px;
}

.multitv .list li.element table.url {
    display: inline-block;
    width: 300px;
}

.multitv .list li.element table.url input[type="text"] {
    width: 221px !important
}

.multitv .list li.element .inline, .multitv .heading .inline {
    display: block;
    float: left;
    margin: 0 3px 0 0;
    padding: 2px 6px 3px 3px;
    width: 300px;
}

.multitv .list li.element .inline[type="checkbox"] {
    margin-top: 7px
}

.multitv .list li.element .inline[type="text"] {
    box-sizing: border-box;
    margin-bottom: 0;
}

.multitv .list li.element .inlinelabel {
    width: auto
}

.multitv .list li.element .DatePicker {
    padding: 3px 3px 3px 24px
}

.multitv .list li.element .mtvThumb {
    float: right;
    margin-right: 12px;
    width: 96px
}

.multitv .list li.element .mtvThumb img {
    float: right;
    height: 96px;
    width: auto;
}

.multitv .list li.element .thumb {
    border: 1px solid #ccc !important
}

.multitv .list li.element .mtvThumb.inline {
    float: left;
    margin-right: 5px;
    width: 26px
}

.multitv .list li.element .mtvThumb.inline img {
    height: 26px;
    position: absolute;
    width: 26px;
    z-index: 1
}

.multitv .list li.element .mtvThumb.inline img:hover {
    height: auto;
    width: auto;
    z-index: 2
}

.multitv .hidden {
    display: none
}

.multitv .tvedit, .multitv .tvclear, .multitv .tvpaste {
    float: left;
    margin-right: 10px
}

.multitv .dataTables_wrapper a {
    text-decoration: none
}

.multitv .dataTables_wrapper .dataTables_filter input {
    width: auto !important
}

.multitv .dataTables_wrapper .dataTables_length select {
    width: auto !important
}

.multitv .dataTables_wrapper .dataTables_length, .multitv .dataTables_wrapper .dataTables_filter {
    margin-bottom: 5px
}

.multitv .dataTables_wrapper .dataTables_filter input {
    margin-right: 0
}

.multitv .dataTables_wrapper .actionButtons {
    margin-bottom: 9px
}

.multitv .dataTables_wrapper .actionButtons a.disabled {
    border: 1px solid #c7ced2;
    color: #aaa;
}

.multitv table.display {
    background-color: #fff;
    border: 1px solid silver;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.multitv table.display thead {
    background-color: #e4e4e4;
    color: #333;
    height: 18px !important;
}

.multitv table.display tr.odd {
    background-color: #eee
}

.multitv table.display tr.even {
    background-color: #fff
}

.multitv table.display tr.odd td.sorting_1 {
    background-color: #e7e7e7
}

.multitv table.display tr.odd td.sorting_2 {
    background-color: #eaeaea
}

.multitv table.display tr.odd td.sorting_3 {
    background-color: #ededed
}

.multitv table.display tr.even td.sorting_1 {
    background-color: #f7f7f7
}

.multitv table.display tr.even td.sorting_2 {
    background-color: #fafafa
}

.multitv table.display tr.even td.sorting_3 {
    background-color: #fefefe
}

.multitv table.display th {
    background-color: #88939e;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
}

.multitv table.display tr.even > td, .multitv table.display tr.odd > td {
    border: 1px solid #fff;
    border-top: none
}

.multitv table.display tr.even > td:first-child, .multitv table.display tr.odd > td:first-child, .multitv table.display tr > th:first-child {
    border-right: none
}

.multitv table.display td.handle {
    background: url('images/arrow_updown.png') no-repeat center center;
    cursor: pointer;
    text-indent: -999em;
}

.multitv table.display th, .multitv table.display td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.multitv table.display tr.row_selected td {
    background-color: #ccc !important
}

.multitv table.display.hideHeader thead {
    background-color: transparent;
    color: transparent;
    font-size: 0;
}

.multitv table.display.hideHeader thead th {
    border-bottom: none;
    padding: 0 18px 0 10px;
}

.tveditform {
    width: 590px
}

.tveditform .formtabpage label {
    clear: left;
    display: block;
    margin-top: 10px;
}

.tveditform .formtabpage .inlinelabel {
    display: inline-block
}

.tveditform .formtabpage .mtvThumb {
    float: right;
    height: 96px;
    width: auto;
}

.tveditform .formtabpage select, .tveditform .formtabpage input {
    width: 300px
}

.tveditform .formtabpage select {
    height: 28px;
    width: 308px
}

.tveditform .formtabpage textarea {
    width: 306px
}

.tveditform .formtabpage input.DatePicker {
    padding: 3px 3px 3px 24px;
    width: 203px;
}

.tveditform .formtabradio {
    color: #313131;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin: 3px 5px 3px 0;
    padding: 0;
    zoom: 1;
}

.tveditform .formtabradio input {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -1px
}

.tveditform .formtabradio a {
    color: #313131;
    text-decoration: none;
}

.tveditform .actionButtons {
    margin-bottom: 5px;
    min-height: 25px
}

#ui-datepicker-div {
    z-index: 9999999 !important;
}

.tvpasteform {
    width: 450px
}

.tvpasteform .pastearea, .tvpasteform .buttons {
    width: 438px
}

.tvpasteform .legend {
    float: left;
    margin-left: 5px
}

.tvpasteform .pastearea {
    border: 1px solid #e3e3e3;
    clear: left;
    height: 215px;
    margin: 0 auto 10px;
    overflow: hidden;
    padding: 10px;
    width: 418px;
}

.tvpasteform .radios {
    float: right;
    margin: 0 5px 5px 0
}

.tvpasteform .radio {
    margin: 2px 5px 5px
}

.tvpasteform .buttons {
    margin: 0 auto 0;
    text-align: right;
}

.tvpasteform .buttons li {
    margin-left: 10px;
    margin-right: 0;
}

.dynamic-tab-pane-control .tab-row .tab a {
    text-decoration: none
}

.tabpanel_content {
    position: relative
}

.tabpanel_bottom {
    clear: both;
    padding-top: 10px;
}

.modulebuttons.topright {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10
}

.modulebuttons.bottomleft {
    float: left
}

.modulebuttons.bottomright {
    float: right
}

.modulebuttons ul.actionButtons {
    min-height: 30px
}
