.multitv { position: relative }
.multitv #[+tvid+]copy { position: absolute; left: -20px; bottom: 7px; background: url('[+tvpath+]images/add.png') no-repeat left center; display: block; width: 16px; height: 16px; text-indent: -2000px }
.multitv #[+tvid+]list { margin: 0; padding: 0; clear: left; position: relative }
.multitv #[+tvid+]list li { position: relative; padding: 4px 4px 4px 20px; margin-bottom: 4px; border: 1px solid #e3e3e3; background: url('[+tvpath+]images/arrow_updown.png') no-repeat left center; list-style: none }
.multitv #[+tvid+]list li.element a.[+tvid+]remove { position: absolute; top: 7px; right: 10px; background: url('[+tvpath+]images/delete.png') no-repeat left center; display: block; width: 16px; height: 16px; text-indent: -2000px; float: none; margin: 0; padding: 0 }

.multitv #[+tvid+]list li.element { min-width: 450px; max-width: 510px }
.multitv #[+tvid+]list li.element.inline { display: list-item }
.multitv #[+tvid+]list li.element.hasthumb { }
.multitv #[+tvid+]list li.element label { display: inline-block; width: 100px }
.multitv #[+tvid+]list li.element select.inline { margin-right: 9px }

.multitv #[+tvid+]heading { padding-left: 20px }

.multitv #[+tvid+]list li.element .inline, .multitv #[+tvid+]heading .inline { display: block; float: left; width: 100px; padding: 3px; margin: 0 5px 0 0 }
.multitv #[+tvid+]list li.element .inline[type="checkbox"] { margin-top: 7px }
.multitv #[+tvid+]list li.element .inlinelabel { width: auto }

.multitv #[+tvid+]list li.element .DatePicker { padding: 3px 3px 3px 24px }
.multitv #[+tvid+]list li.element a { display: block; float: left; padding: 3px; margin: 0 5px 0 0 }

.multitv #[+tvid+]list li.element .tvimage { float: right; margin-right: 2px; width: 96px }
.multitv #[+tvid+]list li.element img.thumb { border: 1px solid #ccc !important }
